<div class="container">
    <h3>Cadastro</h3>
    <form>
        <div class="row">
            <label for="title" class="col-form-label">Titulo: </label>
        </div>
        <div>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="row">
            <label for="author" class="col-form-label">Autor: </label>
        </div>
        <div>
            <input type="text" class="form-control" name="author" required>
        </div>
        <div class="row">
            <label for="price" class="col-form-label">Preço: </label>
        </div>
        <div>
            <input type="text" class="form-control" name="price" required>
        </div>

        <div class="col mt-3">
            <button class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>